body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
    color: #333;
}

header {
    background-color: #1e90ff;
    color: white;
    text-align: center;
    padding: 20px;
}

header .logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
}

main {
    padding: 20px;
    text-align: center;
}

.price-list {
    margin: 20px auto;
    max-width: 600px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header-logo {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}

.price-list h2 {
    margin-bottom: 20px;
}

.price-category {
    margin-bottom: 20px;
}

.price-category h3 {
    margin-bottom: 10px;
}

.price-category ul {
    list-style-type: none;
    padding: 0;
}

.price-category ul li {
    background-color: #e0f7fa;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
}

.warning {
    background-color: #e0f7fa; /* Light blue background */
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 10px;
    text-align: center;
    color: #005662; /* Darker text */
}

.buy-button {
    display: inline-block;
    background-color: #1e90ff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
}

.buy-button:hover {
    background-color: #1c86ee;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    bottom: 0;
}
